@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 180);
  --foreground: oklch(0.172 0.031 141.463);
  --muted: oklch(0.915 0.043 142.437);
  --muted-foreground: oklch(0.428 0.027 142.365);
  --popover: oklch(1 0 180);
  --popover-foreground: oklch(0.172 0.031 141.463);
  --card: oklch(1 0 180);
  --card-foreground: oklch(0.172 0.031 141.463);
  --border: oklch(0.934 0.008 142.594);
  --input: oklch(0.934 0.008 142.594);
  --primary: oklch(0.441 0.143 141.861);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.9 0.024 142.52);
  --secondary-foreground: oklch(0.402 0.053 142.091);
  --accent: oklch(0.862 0.048 142.401);
  --accent-foreground: oklch(0.347 0.058 141.951);
  --destructive: oklch(0.476 0.146 39.924);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.441 0.143 141.861);
  --chart-1: oklch(0.441 0.143 141.861);
  --chart-2: oklch(0.9 0.024 142.52);
  --chart-3: oklch(0.862 0.048 142.401);
  --chart-4: oklch(0.922 0.018 142.546);
  --chart-5: oklch(0.445 0.146 141.866);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.096 0.013 141.401);
  --foreground: oklch(0.993 0.001 142.621);
  --muted: oklch(0.274 0.054 141.839);
  --muted-foreground: oklch(0.773 0.024 142.502);
  --popover: oklch(0.096 0.013 141.401);
  --popover-foreground: oklch(0.993 0.001 142.621);
  --card: oklch(0.096 0.013 141.401);
  --card-foreground: oklch(0.993 0.001 142.621);
  --border: oklch(0.276 0.017 142.375);
  --input: oklch(0.276 0.017 142.375);
  --primary: oklch(0.441 0.143 141.861);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.28 0.027 142.233);
  --secondary-foreground: oklch(0.818 0.035 142.454);
  --accent: oklch(0.386 0.058 142.011);
  --accent-foreground: oklch(0.888 0.032 142.478);
  --destructive: oklch(0.687 0.188 42.05);
  --destructive-foreground: oklch(0 0 0);
  --ring: oklch(0.441 0.143 141.861);
  --chart-1: oklch(0.441 0.143 141.861);
  --chart-2: oklch(0.28 0.027 142.233);
  --chart-3: oklch(0.386 0.058 142.011);
  --chart-4: oklch(0.313 0.031 142.216);
  --chart-5: oklch(0.445 0.146 141.866);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}