@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 180);
  --foreground: oklch(0.144 0.016 196.653);
  --muted: oklch(0.955 0.002 165.964);
  --muted-foreground: oklch(0.511 0.033 164.167);
  --popover: oklch(1 0 180);
  --popover-foreground: oklch(0.144 0.016 196.653);
  --card: oklch(0.992 0 161.565);
  --card-foreground: oklch(0.125 0.014 196.552);
  --border: oklch(0.956 0.003 198.312);
  --input: oklch(0.956 0.003 198.312);
  --primary: oklch(0.605 0.095 196.684);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.594 0.13 156.779);
  --secondary-foreground: oklch(1 0 180);
  --accent: oklch(0.462 0.112 252.741);
  --accent-foreground: oklch(0.966 0.011 249.755);
  --destructive: oklch(0.479 0.165 34.456);
  --destructive-foreground: oklch(0.946 0.025 35.95);
  --ring: oklch(0.605 0.095 196.684);
  --chart-1: oklch(0.605 0.095 196.684);
  --chart-2: oklch(0.594 0.13 156.779);
  --chart-3: oklch(0.462 0.112 252.741);
  --chart-4: oklch(0.629 0.138 156.692);
  --chart-5: oklch(0.612 0.097 196.689);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(18.132% 0.02277 260.429);
  --foreground: oklch(0.987 0.003 198.318);
  --muted: oklch(0.171 0.003 165.557);
  --muted-foreground: oklch(0.716 0.031 164.825);
  --popover: oklch(0.124 0.012 196.769);
  --popover-foreground: oklch(0.987 0.003 198.318);
  --card: oklch(0.142 0.014 196.84);
  --card-foreground: oklch(0.993 0.001 198.34);
  --border: oklch(0.267 0.01 197.824);
  --input: oklch(0.267 0.01 197.824);
  --primary: oklch(0.605 0.095 196.684);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.594 0.13 156.779);
  --secondary-foreground: oklch(1 0 180);
  --accent: oklch(0.462 0.112 252.741);
  --accent-foreground: oklch(0.966 0.011 249.755);
  --destructive: oklch(0.661 0.204 35.655);
  --destructive-foreground: oklch(0 0 0);
  --ring: oklch(0.605 0.095 196.684);
  --chart-1: oklch(0.605 0.095 196.684);
  --chart-2: oklch(0.594 0.13 156.779);
  --chart-3: oklch(0.462 0.112 252.741);
  --chart-4: oklch(0.629 0.138 156.692);
  --chart-5: oklch(0.612 0.097 196.689);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}